-.DogPic {
	max-height: 70%;

	display: block;
}

.profileText {
	text-decoration: none;
	color: black;
	font-family: serif;
}

.ColLimit {
	height: 700px;
}

.dogProfile:link {
	text-decoration: none;
	color: black;
}

.dogProfile:visited {
	text-decoration: none;
	color: black;
}

.dogProfile:hover {
	text-decoration: none;
	color: black;
}

.dogProfile:active {
	text-decoration: none;
	color: black;
}
.LoginPage{
	margin: 0;
	padding: 0;
	background: url("res/images/dogs.jpeg");
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	 
}
body{

	background: url("res/images/dogs.jpeg") no-repeat; 
	background-size: 100% 100%;
	height: 1000px;
	background-attachment: fixed;

}
