.DogPic {
	max-height: 70%;
	display: block;
}

.profileText {
	text-decoration: none;
	color: black;
	font-family: serif;
}

.ColLimit {
	height: 700px;
}

.dogProfile:link {
	text-decoration: none;
	color: black;
}

.dogProfile:visited {
	text-decoration: none;
	color: black;
}

.dogProfile:hover {
	text-decoration: none;
	color: black;
}

.dogProfile:active {
	text-decoration: none;
	color: black;
}
